<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button href="#/">Meow!</md-button>
        <md-button href="#/profile">Ваши коты</md-button>
        <md-button href="#/login">Вход</md-button>
    </div>
</md-toolbar>
