<form ng-if="!isAuth"
      name="loginForm"
      ng-controller="loginCtrl"
      class="md-login-form" layout-padding="">
        <h3 style="text-align: center">Авторизация</h3>
        <md-input-container class="md-icon-float md-block" ng-required="true">
            <label>Имя</label>
            <input name="username"
                   ng-model="username"
                   type="text" ng-required="true">
            <div ng-messages="loginForm.username.$error">
              <div ng-message="required">Необходимо указать имя!</div>
            </div>
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
            <label>Пароль</label>
            <input name="password"
                   ng-model="password"
                   type="password" ng-required="true">
            <div ng-messages="loginForm.password.$error">
              <div ng-message="required">Необходимо указать имя!</div>
            </div>
        </md-input-container>
        <md-button ng-click="login()" class="md-button-login full-width-fix">Войти</md-button>
        <md-content>
            <p style="text-align: center"><a href="#/registration">Регистрация</a></p>
        </md-content>
</form>
<div ng-if="isAuth" layout="column" class="md-login-form" layout-padding>
    <h3>Вы уже авторизованы</h3>
    <md-button ng-click="logout()" class="md-button-login full-width-fix">Выйти</md-button>
</div>
