<div ng-controller="registrationCtrl" layout="column" class="md-login-form" layout-padding>
    <form name="regForm">
        <h3 style="text-align: center">Регистрация</h3>
        <md-input-container class="md-icon-float md-block">
            <label>Имя</label>
            <input name="username"
                   ng-model="username"
                   ng-required="true" type="text">
            <div ng-messages="regForm.username.$error">
              <div ng-message="required">Необходимо указать имя!</div>
            </div>
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
            <label>Пароль</label>
            <input name="password"
                   ng-model="password"
                   ng-required="true" type="password">
            <div ng-messages="regForm.password.$error">
              <div ng-message="required">Необходимо указать пароль!</div>
            </div>
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
            <label>Почта</label>
            <input name="email"
                   ng-model="email"
                   ng-required="false" type="email">
        </md-input-container>
        <md-button ng-click="submit()"
                   ng-disabled="regForm.$invalid"
                   class="md-button-login full-width-fix">Отправть</md-button>
        <md-button type="reset"
                   md-colors="red"
                   class="full-width-fix">Очистить</md-button>
    </form>
</div>
