<div ng-controller="profileEditCtrl"
     layout="column"
     id="catForm"
     class="md-login-form"
     layout-padding>
    <form name="catForm">
        <h3 style="text-align: center">Котоанкета</h3>
        <md-input-container class="md-icon-float md-block">
            <label>Имя</label>
            <input name="name"
                   ng-model="name"
                   ng-required="true" type="text">
            <div ng-messages="catForm.name.$error">
              <div ng-message="required">Необходимо указать имя кота!</div>
            </div>
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
            <label>Возраст</label>
            <input name="age"
                   ng-model="age"
                   ng-required="false" type="number">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
            <label>Группа</label>
            <md-select name="type"
                       ng-model="type"
                       ng-disabled="$index === 1">
                <md-option><em>---</em></md-option>
                <md-option ng-repeat="(key, value) in catType"
                           ng-value="key">{{ value }}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
            <label>Описание</label>
            <textarea name="characteristic"
                      ng-model="characteristic"
                      ng-required="false"
                      rows="3" md-maxlength="2000"></textarea>
        </md-input-container>
        <md-button ng-click="submit()"
                   ng-disabled="catForm.$invalid"
                   class="md-button-login full-width-fix">Отправить</md-button>
    </form>
</div>
