<div ng-if="isAuth"
     ng-controller="profileCtrl"
     layout="row"
     layout-align="center center"
     class="margin-top-3em">

    <!-- Карточка кота -->
    <div ng-if="cats.length > 0">
        <md-button ng-click="addCat()" class="md-warn">Добавить кота</md-button>
        <div ng-repeat="cat in cats">
            <md-card>
                <md-card-title>
                    <md-card-title-media>
                        <div class="md-media-sm card-media" layout>
                            <img src="https://content.invisioncic.com/r106075/profile/photo-thumb-22081.png"
                                 alt="{{ cat.characteristic }}">
                        </div>
                    </md-card-title-media>
                    <md-card-title-text>
                        <span class="md-headline">{{ cat.name }}</span>
                        <span class="md-subhead description"><strong>Восраст:</strong> {{ cat.age }}</span>
                        <span class="md-subhead description">{{ cat.characteristic }}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end end">
                    <div id="popUpContainer"></div>
                    <md-button ng-click="changeCat(cat.id)" >Изменить</md-button>
                    <md-button ng-click="askDelete(cat.id)" class="md-warn">Удалить</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>

    <!-- Ну как же так и без кота? -->
    <div ng-if="cats.length === 0">
        У вас все еще нет кота! Срочно&nbsp;<a href="#/profile/add">заведите</a>&nbsp;кота
    </div>

</div>
<!-- А был ли кот? -->
<div ng-if="!isAuth"
     layout-align="center center"
     layout="row"
     class="margin-top-3em">
    <p style="text-align: center;">
        Вы не можете увидеть своих котиков, вам нужно&nbsp;<a href="#/login">авторизироваться</a>!
        <br>
        Или&nbsp;<a href="#/registration">зарегистрироваться</a> и завести кота!
    </p>
</div>
