.md-button-auth {
    right: 1em;
    position: absolute;
}

.md-login-form {
    width: 50%;
    max-width: 85%;
    margin: 2em auto;
    box-shadow: 0 0 5px 1px #B4B4B4;
}

.md-button-login {
    background-color: #6dee6e;
}

.full-width-fix {
    width: 100%;
    margin: 0 auto;
}

.margin-top-1em {
  margin-top: 1em;
}

.margin-top-3em {
  margin-top: 3em;
}

.margin-top-5em {
  margin-top: 5em;
}

.description {
  min-width: 350px;
}
.card-media {
  margin-right: 15px;
}
.card-media img {
  border: 0;
}
